<header class="brand">
  <h1>
    <a href="{{.Site.BaseURL}}">
      <span id = "blog_logo">
        {{if eq .Site.Params.logo.url "logo.png"}}
          <img src=/{{.Site.Params.logo.url}} alt="Blog Logo" style="height: 40px; width:40px">
        {{else}}
          <img src={{.Site.Params.logo.url}} alt="Blog Logo" style="height: 40px; width:40px">
        {{end}}
      </span>
      {{if .IsHome}}
        {{if .Site.Params.showtitle}}
          <span id = "blog_title">
            {{.Site.Title}}
          </span>
        {{end}}
      {{end}}
    </a>
  </h1>
</header>
